/*INTRODUCTION*/
.hidden-up {
  animation-name: hidden-up;
  animation-duration: .2s; }

@keyframes hidden-up {
  from {
    transform: translateY(150%); }
  to {
    transform: translateY(0); } }

@keyframes hidden-up-strong {
  from {
    transform: translateY(2000%); }
  to {
    transform: translateY(0); } }

@keyframes hidden-down {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }

@keyframes hidden-down-strong {
  from {
    transform: translateY(130%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes hidden-down-opacity {
  from {
    transform: translateY(200%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-24%);
    transform: translateY(-24%);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(-12%);
    transform: translateY(-12%);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(-6%);
    transform: translateY(-6%);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }

@keyframes travel {
  0% {
    transform: translate(0, 0) rotate(0); }
  60% {
    transform: rotate(40deg); }
  100% {
    transform: translate(2.5%, 5%) rotate(40deg); } }

@media only screen and (max-width: 81.25em) {
  @keyframes travel {
    0% {
      transform: translate(0, 0) rotate(0); }
    60% {
      transform: rotate(40deg); }
    100% {
      transform: translate(2.5%, 4%) rotate(40deg); } } }

@media only screen and (max-width: 68.75em) {
  @keyframes travel {
    0% {
      transform: translate(0, 0) rotate(0); }
    60% {
      transform: rotate(40deg); }
    100% {
      transform: translate(3%, 4%) rotate(40deg); } } }

@keyframes travel-1 {
  from {
    transform: translate(2.5%, 5%) rotate(40deg); }
  to {
    transform: rotate(40deg) translate(5%, 0%); } }

@media only screen and (max-width: 81.25em) {
  @keyframes travel-1 {
    from {
      transform: translate(2.5%, 4%) rotate(40deg); }
    to {
      transform: rotate(40deg) translate(5%, 0%); } } }

@media only screen and (max-width: 68.75em) {
  @keyframes travel-1 {
    from {
      transform: translate(3%, 4%) rotate(40deg); }
    to {
      transform: rotate(40deg) translate(6%, 0%); } } }

@media only screen and (max-width: 56.25em) {
  @keyframes travel-1 {
    from {
      transform: translate(3%, 4%) rotate(40deg); }
    to {
      transform: rotate(40deg) translate(7%, 1%); } } }

@keyframes travel-2 {
  0% {
    transform: rotate(40deg) translate(5%, 0%); }
  12.5% {
    transform: rotate(40deg) translate(5.2%, 0.2%); }
  25% {
    transform: rotate(40deg) translate(5%, 0%); }
  37.5% {
    transform: rotate(40deg) translate(5.2%, 0.2%); }
  50% {
    transform: rotate(40deg) translate(5%, 0%); }
  62.5% {
    transform: rotate(40deg) translate(5.2%, 0.2%); }
  75% {
    transform: rotate(40deg) translate(5%, 0%); }
  87.5% {
    transform: rotate(40deg) translate(5.2%, 0.2%); }
  100% {
    transform: rotate(40deg) translate(5%, 0%); } }

@media only screen and (max-width: 68.75em) {
  @keyframes travel-2 {
    0% {
      transform: rotate(40deg) translate(6%, 0%); }
    12.5% {
      transform: rotate(40deg) translate(6.2%, 0.2%); }
    25% {
      transform: rotate(40deg) translate(6%, 0%); }
    37.5% {
      transform: rotate(40deg) translate(6.2%, 0.2%); }
    50% {
      transform: rotate(40deg) translate(6%, 0%); }
    62.5% {
      transform: rotate(40deg) translate(6.2%, 0.2%); }
    75% {
      transform: rotate(40deg) translate(6%, 0%); }
    87.5% {
      transform: rotate(40deg) translate(6.2%, 0.2%); }
    100% {
      transform: rotate(40deg) translate(6%, 0%); } } }

@media only screen and (max-width: 56.25em) {
  @keyframes travel-2 {
    0% {
      transform: rotate(40deg) translate(7%, 1.2%); }
    12.5% {
      transform: rotate(40deg) translate(7.2%, 1.2%); }
    25% {
      transform: rotate(40deg) translate(7%, 1%); }
    37.5% {
      transform: rotate(40deg) translate(7.2%, 1.2%); }
    50% {
      transform: rotate(40deg) translate(7%, 1%); }
    62.5% {
      transform: rotate(40deg) translate(7.2%, 1.2%); }
    75% {
      transform: rotate(40deg) translate(7%, 1%); }
    87.5% {
      transform: rotate(40deg) translate(7.2%, 1.2%); }
    100% {
      transform: rotate(40deg) translate(7%, 1%); } } }

@keyframes travel-3 {
  from {
    transform: translate(5%, 0%) scale(1) rotate(40deg); }
  10% {
    filter: blur(0); }
  11% {
    filter: blur(15px); }
  90% {
    filter: blur(15px); }
  95% {
    filter: blur(0); }
  to {
    transform: translate(-13vw, -38vh) rotate(360deg) scale(0.5); } }

@media only screen and (max-width: 81.25em) {
  @keyframes travel-3 {
    from {
      transform: translate(5%, 0%) scale(1) rotate(40deg); }
    10% {
      filter: blur(0); }
    11% {
      filter: blur(15px); }
    90% {
      filter: blur(15px); }
    95% {
      filter: blur(0); }
    to {
      transform: translate(-18vw, -38vh) rotate(360deg) scale(0.5); } } }

@media only screen and (max-width: 50em) {
  @keyframes travel-3 {
    from {
      transform: translate(5%, 0%) scale(1) rotate(40deg); }
    10% {
      filter: blur(0); }
    11% {
      filter: blur(15px); }
    90% {
      filter: blur(15px); }
    95% {
      filter: blur(0); }
    to {
      transform: translate(-21vw, -37vh) rotate(360deg) scale(0.6); } } }

@media only screen and (max-width: 43.75em) {
  @keyframes travel-3 {
    from {
      transform: translate(5%, 0%) scale(1) rotate(40deg); }
    10% {
      filter: blur(0); }
    11% {
      filter: blur(15px); }
    90% {
      filter: blur(15px); }
    95% {
      filter: blur(0); }
    to {
      transform: translate(-21vw, -34vh) rotate(360deg) scale(0.8); } } }

@keyframes fall-down {
  from {
    transform: translate(0, 0) scale(1);
    filter: blur(0); }
  11% {
    filter: blur(15px); }
  90% {
    filter: blur(15px); }
  95% {
    filter: blur(0); }
  to {
    transform: translate(1.3vw, 17vh) scale(0.5); } }

@media only screen and (max-width: 37.5em) {
  @keyframes fall-down {
    from {
      transform: translate(0, 0) scale(1);
      filter: blur(0); }
    11% {
      filter: blur(15px); }
    90% {
      filter: blur(15px); }
    95% {
      filter: blur(0); }
    to {
      transform: translate(2vw, 20vh) scale(0.65); } } }

@media only screen and (max-width: 31.25em) {
  @keyframes fall-down {
    from {
      transform: translate(0, 0) scale(1);
      filter: blur(0); }
    11% {
      filter: blur(15px); }
    90% {
      filter: blur(15px); }
    95% {
      filter: blur(0); }
    to {
      transform: translate(2vw, 19vh) scale(0.7); } } }

@media only screen and (max-width: 25em) {
  @keyframes fall-down {
    from {
      transform: translate(0, 0) scale(1);
      filter: blur(0); }
    11% {
      filter: blur(15px); }
    90% {
      filter: blur(15px); }
    95% {
      filter: blur(0); }
    to {
      transform: translate(2vw, 30vh) scale(0.71); } } }

@media only screen and (max-width: 21.875em) {
  @keyframes fall-down {
    from {
      transform: translate(0, 0) scale(1);
      filter: blur(0); }
    11% {
      filter: blur(15px); }
    90% {
      filter: blur(15px); }
    95% {
      filter: blur(0); }
    to {
      transform: translate(1.3vw, 14vh) scale(0.62); } } }

@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes opacity-strong {
  0% {
    opacity: 0; }
  99% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes scale {
  from {
    transform: scale(1.5); }
  to {
    transform: scale(1); } }

@keyframes background-color {
  from {
    background-color: current-color; }
  to {
    background-color: #f0f4fd; } }

@keyframes background-color-2 {
  from {
    background: current-color; }
  to {
    background: linear-gradient(180deg, #f0f4fd 5%, #d7e4ff 100%, #f0f4fd 100%); } }

@keyframes smokey {
  from {
    transform: rotate(45deg) translateY(-200px);
    opacity: 0;
    filter: blur(20px); }
  to {
    transform: rotate(0deg) translateY(0);
    opacity: 1;
    filter: blur(0); } }

@keyframes fill-70 {
  from {
    width: 0;
    animation-timing-function: ease-in-out; }
  to {
    width: 70%; } }

@keyframes fill-40 {
  from {
    width: 0;
    animation-timing-function: ease-in-out; }
  to {
    width: 40%; } }

@keyframes fill-50 {
  from {
    width: 0;
    animation-timing-function: ease-in-out; }
  to {
    width: 50%; } }

@keyframes fill-55 {
  from {
    width: 0;
    animation-timing-function: ease-in-out; }
  to {
    width: 55%; } }

@keyframes next-page-hover {
  from {
    color: #0C2D79;
    transform: translateX(0); }
  50% {
    color: #c3d2f7;
    transform: translateX(0.3rem); } }

to {
  color: #0C2D79;
  transform: translateX(0); }

@keyframes next-page {
  from {
    transform: translateY(100%) rotate(360deg);
    opacity: 0; }
  to {
    transform: translateY(0) rotate(90deg);
    opacity: 1; } }

@keyframes rotate-y {
  0% {
    transform: perspective(40rem) rotateY(90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(40rem) rotateY(-40deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(40rem) rotateY(10deg);
    opacity: 1; }
  80% {
    transform: perspective(40rem) rotateY(5deg); }
  100% {
    transform: perspective(40rem);
    opacity: 1; } }

@keyframes from-right {
  from {
    transform: translateX(50vh);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes from-left {
  from {
    transform: translateX(-50vh);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

/* Forms */
@keyframes scale-in-out {
  0% {
    transform: scale(0); }
  60% {
    opacity: 1;
    transform: scale(1.05); }
  80% {
    transform: scale(0.95); }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes from-right-soft {
  from {
    transform: translateX(35vh);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

/* Pop-up */
@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0); }
  to {
    opacity: 1;
    transform: scale(1); } }

/*Animation-delays*/
.animation-delay-200ms {
  animation-delay: .2s; }

.animation-delay-400ms {
  animation-delay: .4s; }

.animation-delay-600ms {
  animation-delay: .6s; }

.animation-delay-1000ms {
  animation-delay: .8s; }

.animation-delay-1500ms {
  animation-delay: 1.1s; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 65%; }
  @media only screen and (min-width: 87.5em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 81.25em) {
    html {
      font-size: 57%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 33%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 25%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 19%; } }

body {
  box-sizing: border-box; }

.container {
  background-color: #f0f4fd;
  display: grid;
  grid-template-rows: 100vh 100vh 100vh 80vh 20vh;
  grid-template-columns: 8rem repeat(4, 1fr) 8rem; }

@media screen and (min-width: 94em) {
  @-moz-document url-prefix() {
    html {
      font-size: 93%; } } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-secondary-skills {
  font-size: 5rem;
  color: #0C2D79;
  font-weight: 700;
  letter-spacing: 0.2rem;
  opacity: 0; }
  @media only screen and (max-width: 50em) {
    .heading-secondary-skills {
      font-size: 5.5rem; } }
  @media only screen and (max-width: 31.25em) {
    .heading-secondary-skills {
      font-size: 6.5rem; } }
  @media only screen and (max-width: 25em) {
    .heading-secondary-skills {
      font-size: 7.5rem; } }
  @media only screen and (max-width: 25em) {
    .heading-secondary-skills {
      font-size: 7rem; } }

.heading-bar-skills {
  height: .4rem;
  width: 45%;
  margin: 0 auto;
  background-color: #0C2D79;
  opacity: 0; }

.heading-secondary-projects {
  font-size: 5rem;
  color: #0C2D79;
  font-weight: 700;
  letter-spacing: 0.2rem;
  opacity: 0; }

.heading-bar-projects {
  height: .4rem;
  width: 45%;
  margin: 0 auto;
  background-color: #0C2D79;
  opacity: 0; }

.heading-secondary-contact {
  font-size: 5rem;
  color: #0C2D79;
  font-weight: 700;
  letter-spacing: 0.2rem;
  opacity: 0; }

.heading-bar-contact {
  height: .4rem;
  width: 45%;
  margin: 0 auto;
  background-color: #0C2D79;
  opacity: 0; }

.heading-tertiary {
  font-size: 2.5rem;
  color: #06122d;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }
  @media only screen and (max-width: 50em) {
    .heading-tertiary {
      font-size: 3rem; } }
  @media only screen and (max-width: 31.25em) {
    .heading-tertiary {
      font-size: 4rem; } }
  @media only screen and (max-width: 25em) {
    .heading-tertiary {
      font-size: 5rem; } }
  @media only screen and (max-width: 25em) {
    .heading-tertiary {
      font-size: 4.5rem; } }

.paragraph {
  font-size: 1.6rem;
  color: #06122d;
  font-weight: 300; }
  @media only screen and (max-width: 50em) {
    .paragraph {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 31.25em) {
    .paragraph {
      font-size: 3rem; } }
  @media only screen and (max-width: 25em) {
    .paragraph {
      font-size: 4rem; } }
  @media only screen and (max-width: 25em) {
    .paragraph {
      font-size: 3rem; } }

.paragraph-2 {
  font-size: 1.6rem;
  color: #143B96;
  font-weight: 600; }

.paragraph-3 {
  font-size: 2rem;
  color: #06122d;
  font-weight: 300; }

/*Animations*/
.animations--heading-secondary {
  animation-name: from-left;
  animation-duration: .75s;
  animation-fill-mode: forwards; }

.animations--heading-bar {
  animation-name: from-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear; }

.ul-margin-right {
  margin-left: 3rem; }

.ul-margin-top-xs {
  margin-top: -.5rem; }

.ul-margin-top-xs-1 {
  margin-top: 5rem; }

.ul-margin-top-md {
  margin-top: -3rem; }

.ul-margin-top-xl {
  margin-top: -8rem; }

.ul-margin-bottom-xl {
  margin-bottom: 6rem; }

.ul-margin-bottom-md {
  margin-bottom: 3rem; }

.u-opacity-0 {
  opacity: 0; }

.pop-up {
  position: relative;
  background: #f0f4fd;
  width: auto;
  max-width: 50vw;
  margin: 20px auto; }

.popup-img {
  width: 100%; }

.space {
  height: 1px;
  width: 90%;
  background-color: #0C2D79;
  opacity: .1;
  margin: 1rem auto; }

.popup-text {
  padding: 0rem 2rem 0rem 2rem;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #06122d;
  font-weight: 300;
  text-align: center; }

.popup-btn {
  padding: 2rem;
  text-align: center; }

.divide {
  height: 2px;
  width: 100%;
  background-color: #143B96;
  margin-top: -.5rem;
  opacity: .1; }

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transform: scale(0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform: scale(1); }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  transform: scale(0); }

.btn {
  grid-row: 3 / 5;
  grid-column: 2 / 4;
  display: inline-block;
  font-family: inherit;
  font-size: 2rem;
  background: linear-gradient(to right bottom, rgba(78, 109, 180, 0.8), rgba(20, 59, 150, 0.8));
  padding: 2rem 8rem;
  margin-top: 6rem;
  letter-spacing: 0.4rem;
  border: none;
  border-radius: 8px;
  animation-name: hidden-down-opacity;
  animation-duration: 2s;
  animation-delay: 6.5s;
  animation-fill-mode: both;
  transition: .5s; }
  @media only screen and (max-width: 31.25em) {
    .btn {
      font-size: 3rem; } }
  @media only screen and (max-width: 25em) {
    .btn {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 21.875em) {
    .btn {
      font-size: 3rem; } }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:link, .btn:visited {
    text-decoration: none;
    color: #c3d2f7; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn i {
    color: #c3d2f7;
    margin-left: 1rem;
    transition: all .5s; }
  .btn:hover i {
    transform: rotate(90deg) translateX(0.4rem); }

.btn-sm {
  display: inline-block;
  font-family: inherit;
  font-size: 1.4rem;
  background: linear-gradient(to right bottom, rgba(78, 109, 180, 0.8), rgba(20, 59, 150, 0.8));
  padding: 1rem 2rem;
  letter-spacing: 0.2rem;
  border: none;
  border-radius: 8px; }
  .btn-sm:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn-sm:link, .btn-sm:visited {
    text-decoration: none;
    color: #c3d2f7; }
  .btn-sm:active, .btn-sm:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn-sm i {
    color: #c3d2f7;
    margin-left: 1rem;
    transition: all .5s; }
  .btn-sm:hover i {
    transform: rotate(90deg) translateX(0.4rem); }

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0; }
  .form__group {
    margin-bottom: -2.3rem;
    width: 30%; }
    @media only screen and (max-width: 81.25em) {
      .form__group {
        width: 35%; } }
  .form__input, .form__input-lg {
    font-size: 1.5rem;
    font-family: inherit;
    color: #06122d;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(215, 228, 255, 0.3);
    border: none;
    width: 100%;
    display: block;
    border-bottom: 3px solid transparent; }
    .form__input:focus, .form__input-lg:focus {
      outline: none;
      border-bottom: 3px solid #143B96; }
    .form__input::-webkit-input-placeholder, .form__input-lg::-webkit-input-placeholder {
      color: #b4c7f5; }
  .form__label, .form__label-lg {
    font-size: 1.5rem;
    font-family: inherit;
    color: #0C2D79;
    font-weight: bold;
    display: inline-block;
    transform: translate(-9rem, -4rem);
    transition: all .3s; }
    .form__label-lg, .form__label-lg-lg {
      transform: translate(-10rem, -18rem); }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translate(2rem, -4rem); }
  .form__input-lg:placeholder-shown + .form__label-lg {
    opacity: 0;
    visibility: hidden;
    transform: translate(2rem, -18rem); }
  .form__btn {
    margin-top: 2rem;
    text-align: center;
    padding: 2rem 6rem;
    font-size: 1.6rem;
    color: #c3d2f7; }
    @media only screen and (max-width: 81.25em) {
      .form__btn {
        margin-top: 5rem; } }

.animations--scale-in-out {
  animation-name: scale-in-out;
  animation-duration: 1s;
  animation-fill-mode: both; }

.animations--footer-paragraph {
  animation-name: from-right-soft;
  animation-duration: 1s;
  animation-fill-mode: both; }

.nav {
  display: flex;
  grid-row: 1 / 2;
  grid-column: 2 / 5;
  width: 100%;
  font-size: 1rem;
  z-index: 2;
  width: 100vw;
  justify-content: space-evenly;
  animation-name: hidden-down;
  animation-duration: .3s; }
  .nav__ul {
    display: flex;
    list-style: none;
    font-size: 2rem;
    letter-spacing: .2rem;
    padding: 1rem;
    margin-left: 3%;
    animation-name: none;
    animation-duration: none;
    animation-delay: none;
    animation-fill-mode: none; }
    @media only screen and (max-width: 43.75em) {
      .nav__ul {
        font-size: 3rem; } }
    @media only screen and (max-width: 25em) {
      .nav__ul {
        font-size: 4rem; } }
  .nav__li-1 {
    animation-name: none;
    animation-duration: none;
    animation-delay: none;
    animation-fill-mode: none; }
  .nav__li-2 {
    animation-name: none;
    animation-duration: none;
    animation-delay: none;
    animation-fill-mode: none; }
  .nav__li-3 {
    animation-name: none;
    animation-duration: none;
    animation-delay: none;
    animation-fill-mode: none; }
  .nav__a {
    padding: 0.5rem;
    text-decoration: none;
    transition: background-color .2s; }
    .nav__a:link, .nav__a:visited {
      color: #0C2D79; }
    .nav__a span {
      opacity: .5;
      color: #143B96; }
    .nav__a span:hover,
    .nav__a span:active {
      background-color: #f0f4fd; }
    .nav__a:hover, .nav__a:active:not(span) {
      background-color: #d7e4ff; }
  .nav .breaker {
    opacity: .5;
    color: #143B96;
    margin: 0 1.5rem; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(78, 109, 180, 0.1);
  font-size: 1rem;
  z-index: 2;
  animation-name: hidden-down;
  animation-duration: .3s; }
  .sticky .nav {
    animation-name: none;
    animation-duration: none;
    animation-delay: 0;
    animation-fill-mode: none; }
  .sticky__ul {
    display: flex;
    list-style: none;
    font-size: 2rem;
    letter-spacing: .2rem;
    padding: 1rem;
    width: 100vw;
    justify-content: space-evenly;
    animation-name: none;
    animation-duration: none;
    animation-delay: none;
    animation-fill-mode: none; }
    @media only screen and (max-width: 31.25em) {
      .sticky__ul {
        font-size: 3rem; } }
    @media only screen and (max-width: 25em) {
      .sticky__ul {
        font-size: 3.5rem; } }
  .sticky__li-1 {
    animation-name: none;
    animation-duration: none;
    animation-delay: none;
    animation-fill-mode: none; }
  .sticky__li-2 {
    animation-name: none;
    animation-duration: none;
    animation-delay: none;
    animation-fill-mode: none; }
  .sticky__li-3 {
    animation-name: none;
    animation-duration: none;
    animation-delay: none;
    animation-fill-mode: none; }

.return-nav {
  display: flex;
  grid-row: 1 / 2;
  grid-column: 2 / 5;
  width: 100%;
  font-size: 1rem;
  z-index: 2;
  width: 100vw;
  justify-content: space-evenly;
  animation-name: hidden-down;
  animation-duration: .3s; }
  .return-nav__ul {
    display: flex;
    list-style: none;
    font-size: 2rem;
    letter-spacing: .2rem;
    padding: 1rem;
    margin-left: 3%;
    animation-name: none;
    animation-duration: none;
    animation-delay: none;
    animation-fill-mode: none; }
    @media only screen and (max-width: 43.75em) {
      .return-nav__ul {
        font-size: 3rem; } }
    @media only screen and (max-width: 25em) {
      .return-nav__ul {
        font-size: 4rem; } }
  .return-nav__li-1 {
    animation-name: none;
    animation-duration: none;
    animation-delay: none;
    animation-fill-mode: none; }
  .return-nav__li-2 {
    animation-name: none;
    animation-duration: none;
    animation-delay: none;
    animation-fill-mode: none; }
  .return-nav__li-3 {
    animation-name: none;
    animation-duration: none;
    animation-delay: none;
    animation-fill-mode: none; }
  .return-nav__a {
    padding: 0.5rem;
    text-decoration: none;
    transition: background-color .2s; }
    .return-nav__a:link, .return-nav__a:visited {
      color: #0C2D79; }
    .return-nav__a span {
      opacity: .5;
      color: #143B96; }
    .return-nav__a span:hover,
    .return-nav__a span:active {
      background-color: #f0f4fd; }
    .return-nav__a:hover, .return-nav__a:active:not(span) {
      background-color: #d7e4ff; }
  .return-nav .breaker {
    opacity: .5;
    color: #143B96;
    margin: 0 1.5rem; }

.nav-highlight {
  background-color: #d7e4ff; }

.profile {
  background: linear-gradient(180deg, #f0f4fd 50%, #d7e4ff 100%, #f0f4fd 100%);
  grid-row: 2 / 3;
  grid-column: 1 / 7;
  animation-name: opacity;
  animation-duration: 2s;
  animation-delay: 6.1s;
  animation-fill-mode: both; }

.profile-picture {
  overflow: hidden;
  z-index: 3;
  grid-row: 2 / 3;
  grid-column: 1 / 7;
  grid-template-rows: 1fr;
  grid-tenplate-columns: 1fr; }
  .profile-picture__container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    animation-name: hidden-up;
    animation-duration: 2.2s;
    animation-delay: 6.1s;
    animation-fill-mode: both; }
  .profile-picture__img {
    height: 134%;
    opacity: .5;
    object-fit: cover;
    margin-right: 5%;
    width: 40%; }
    @media only screen and (max-width: 81.25em) {
      .profile-picture__img {
        width: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .profile-picture__img {
        width: 100%;
        margin-right: 1.5%; } }

.introduction {
  grid-column: 1 / 7;
  display: grid;
  grid-template-rows: 10vh 35vh 20vh 35vh;
  overflow: hidden; }

.intro {
  grid-row: 3 / 5;
  grid-column: 1 / 6;
  background-color: transparent;
  color: #143B96;
  overflow: hidden;
  animation-name: travel, travel-1, travel-2, travel-3;
  animation-duration: .75s, .75s, .75s, .75s;
  animation-delay: 3.7s, 4.5s, 5s, 6s;
  animation-fill-mode: forwards, forwards, forwards, forwards;
  font-weight: 300;
  backface-visibility: hidden;
  z-index: 1; }
  @media only screen and (max-width: 37.5em) {
    .intro {
      animation-name: fall-down;
      animation-duration: 1s;
      animation-delay: 3.7s; } }
  .intro__top {
    letter-spacing: 0.2rem;
    font-size: 9rem;
    background-color: transparent;
    text-align: center;
    overflow: hidden; }
    @media only screen and (max-width: 56.25em) {
      .intro__top {
        font-size: 7.5rem; } }
    @media only screen and (max-width: 43.75em) {
      .intro__top {
        font-size: 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .intro__top {
        font-size: 8rem; } }
    .intro__top-1 {
      display: inline-block;
      margin-right: 2rem;
      animation-name: hidden-up;
      animation-duration: 2s;
      animation-delay: .2s;
      animation-fill-mode: backwards;
      grid-row: 3 / 4;
      grid-column: 2 / 3; }
    .intro__top-2 {
      display: inline-block;
      animation-name: hidden-up;
      animation-duration: 2s;
      animation-delay: .8s;
      animation-fill-mode: backwards;
      grid-row: 3 / 4;
      grid-column: 3 / 4; }
    .intro__top-3 {
      font-size: 15rem;
      display: inline-block;
      animation-name: bounce-top, opacity;
      animation-duration: 2s, 0.1s;
      animation-delay: 1.5s, 6.3s;
      animation-fill-mode: backwards, both;
      animation-direction: normal, reverse; }
  .intro__bottom {
    background-color: transparent;
    text-align: center;
    overflow: hidden; }
    .intro__bottom p {
      grid-row: 4 / 5;
      grid-column: 2 / 3;
      font-weight: 400;
      font-size: 4rem;
      line-height: 5rem;
      animation-name: hidden-up;
      animation-duration: 2s;
      animation-delay: 1.6s;
      animation-fill-mode: backwards; }
      @media only screen and (max-width: 56.25em) {
        .intro__bottom p {
          font-size: 2.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .intro__bottom p {
          font-size: 4rem; } }

/* AFTER */
.name-and-button {
  grid-row: 3 / 5;
  grid-column: 1 / 7;
  letter-spacing: 1rem;
  padding: 5rem;
  text-align: center;
  background: linear-gradient(180deg, #f0f4fd 75%, #d7e4ff 100%, #f0f4fd 100%);
  overflow: hidden; }
  .name-and-button__name {
    font-size: 7rem;
    font-weight: 300;
    color: #143B96;
    width: 53%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    list-style: none; }
    @media only screen and (max-width: 25em) {
      .name-and-button__name {
        font-size: 7.5rem; } }
    @media only screen and (max-width: 21.875em) {
      .name-and-button__name {
        font-size: 6rem; } }

.name-and-button li:nth-child(1) {
  animation-delay: 6.5s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both; }

.name-and-button li:nth-child(2) {
  animation-delay: 6.6s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both; }

.name-and-button li:nth-child(3) {
  animation-delay: 6.7s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both; }

.name-and-button li:nth-child(4) {
  animation-delay: 6.8s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both; }

.name-and-button li:nth-child(5) {
  animation-delay: 6.9s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both; }

.name-and-button li:nth-child(6) {
  animation-delay: 7s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both; }

.name-and-button li:nth-child(7) {
  animation-delay: 7.1s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both; }

.name-and-button li:nth-child(8) {
  animation-delay: 7.2s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both; }

.name-and-button li:nth-child(9) {
  animation-delay: 7.3s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both; }

.name-and-button li:nth-child(10) {
  animation-delay: 7.4s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both; }

.name-and-button li:nth-child(11) {
  animation-delay: 7.5s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both; }

.name-and-button li:nth-child(12) {
  animation-delay: 7.6s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both; }

.name-and-button li:nth-child(13) {
  animation-delay: 7.7s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both; }

.name-and-button li:nth-child(14) {
  animation-delay: 7.8s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both; }

.skills__heading {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: center; }

.skills__features {
  grid-row: 2 / 4;
  grid-column: 2 / 6; }

.skills__features-fast {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: #4E6DB4;
  width: 12rem;
  height: 12rem;
  opacity: 0;
  position: relative; }
  .skills__features-fast:before {
    content: "";
    width: 12rem;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2.9rem solid #4E6DB4;
    border-left: 2.9rem solid #f0f4fd;
    border-right: 2.9rem solid #f0f4fd; }
    @media only screen and (max-width: 50em) {
      .skills__features-fast:before {
        width: 15rem; } }
  .skills__features-fast:after {
    content: "";
    width: 12rem;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2.9rem solid #4E6DB4;
    border-left: 2.9rem solid #f0f4fd;
    border-right: 2.9rem solid #f0f4fd; }
    @media only screen and (max-width: 50em) {
      .skills__features-fast:after {
        width: 15rem; } }
  @media only screen and (max-width: 50em) {
    .skills__features-fast {
      grid-row: 2 / 3;
      grid-column: 2 / 4;
      width: 15rem;
      height: 15rem;
      align-self: start; } }
  .skills__features-fast-text {
    grid-column: 2 / 3;
    text-align: center;
    align-self: start;
    opacity: 0; }
    @media only screen and (max-width: 50em) {
      .skills__features-fast-text {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        align-self: end; } }
    @media only screen and (max-width: 21.875em) {
      .skills__features-fast-text {
        width: 120%; } }

.skills__features-responsive {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  background-color: #4E6DB4;
  width: 12rem;
  height: 12rem;
  opacity: 0;
  position: relative; }
  .skills__features-responsive:before {
    content: "";
    width: 12rem;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2.9rem solid #4E6DB4;
    border-left: 2.9rem solid #f0f4fd;
    border-right: 2.9rem solid #f0f4fd; }
    @media only screen and (max-width: 50em) {
      .skills__features-responsive:before {
        width: 15rem; } }
  .skills__features-responsive:after {
    content: "";
    width: 12rem;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2.9rem solid #4E6DB4;
    border-left: 2.9rem solid #f0f4fd;
    border-right: 2.9rem solid #f0f4fd; }
    @media only screen and (max-width: 50em) {
      .skills__features-responsive:after {
        width: 15rem; } }
  @media only screen and (max-width: 50em) {
    .skills__features-responsive {
      grid-row: 2 / 3;
      grid-column: 4 / 6;
      width: 15rem;
      height: 15rem;
      align-self: start; } }
  .skills__features-responsive-text {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    text-align: center;
    align-self: start;
    opacity: 0; }
    @media only screen and (max-width: 50em) {
      .skills__features-responsive-text {
        grid-row: 2 / 3;
        grid-column: 4 / 6;
        align-self: end; } }

.skills__features-dynamic {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  background-color: #4E6DB4;
  width: 12rem;
  height: 12rem;
  opacity: 0;
  position: relative; }
  .skills__features-dynamic:before {
    content: "";
    width: 12rem;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2.9rem solid #4E6DB4;
    border-left: 2.9rem solid #f0f4fd;
    border-right: 2.9rem solid #f0f4fd; }
    @media only screen and (max-width: 50em) {
      .skills__features-dynamic:before {
        width: 15rem; } }
  .skills__features-dynamic:after {
    content: "";
    width: 12rem;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2.9rem solid #4E6DB4;
    border-left: 2.9rem solid #f0f4fd;
    border-right: 2.9rem solid #f0f4fd; }
    @media only screen and (max-width: 50em) {
      .skills__features-dynamic:after {
        width: 15rem; } }
  @media only screen and (max-width: 50em) {
    .skills__features-dynamic {
      grid-row: 3 / 4;
      grid-column: 2 / 4;
      width: 15rem;
      height: 15rem;
      align-self: start; } }
  .skills__features-dynamic-text {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    text-align: center;
    align-self: start;
    opacity: 0; }
    @media only screen and (max-width: 50em) {
      .skills__features-dynamic-text {
        grid-row: 3 / 4;
        grid-column: 2 / 4;
        align-self: end; } }

.skills__features-detail {
  grid-row: 2 / 3;
  grid-column: 5 / 6;
  background-color: #4E6DB4;
  width: 12rem;
  height: 12rem;
  position: relative;
  opacity: 0; }
  .skills__features-detail:before {
    content: "";
    width: 12rem;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2.9rem solid #4E6DB4;
    border-left: 2.9rem solid #f0f4fd;
    border-right: 2.9rem solid #f0f4fd; }
    @media only screen and (max-width: 50em) {
      .skills__features-detail:before {
        width: 15rem; } }
  .skills__features-detail:after {
    content: "";
    width: 12rem;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2.9rem solid #4E6DB4;
    border-left: 2.9rem solid #f0f4fd;
    border-right: 2.9rem solid #f0f4fd; }
    @media only screen and (max-width: 50em) {
      .skills__features-detail:after {
        width: 15rem; } }
  @media only screen and (max-width: 50em) {
    .skills__features-detail {
      grid-row: 3 / 4;
      grid-column: 4 / 6;
      width: 15rem;
      height: 15rem;
      align-self: start; } }
  .skills__features-detail-text {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    text-align: center;
    align-self: start;
    opacity: 0; }
    @media only screen and (max-width: 50em) {
      .skills__features-detail-text {
        grid-row: 3 / 4;
        grid-column: 4 / 6;
        align-self: end; } }

.skills__langauges {
  display: grid;
  grid-row: 4/ 9;
  grid-column: 2 / 6;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  opacity: 0; }

.skills__html {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  background-color: #e3e6f2;
  width: 100%;
  height: 50%;
  position: relative; }
  @media only screen and (max-width: 50em) {
    .skills__html {
      align-self: end; } }
  .skills__html-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    color: #c3d2f7;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #4E6DB4;
    overflow: hidden; }
    @media only screen and (max-width: 43.75em) {
      .skills__html-text {
        font-size: 1.1rem; } }
  .skills__html-fill {
    height: 100%;
    width: 0;
    position: absolute;
    background-color: #143B96;
    top: 0;
    left: 15%; }

.skills__css {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  background-color: #e3e6f2;
  width: 100%;
  height: 50%;
  position: relative; }
  @media only screen and (max-width: 50em) {
    .skills__css {
      align-self: end; } }
  .skills__css-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    color: #c3d2f7;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #4E6DB4;
    overflow: hidden; }
    @media only screen and (max-width: 43.75em) {
      .skills__css-text {
        font-size: 1.1rem; } }
  .skills__css-fill {
    height: 100%;
    width: 0;
    position: absolute;
    background-color: #143B96;
    top: 0;
    left: 15%; }

.skills__javascript {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  background-color: #e3e6f2;
  width: 100%;
  height: 50%;
  position: relative; }
  @media only screen and (max-width: 50em) {
    .skills__javascript {
      align-self: end; } }
  .skills__javascript-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    color: #c3d2f7;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #4E6DB4;
    overflow: hidden; }
    @media only screen and (max-width: 43.75em) {
      .skills__javascript-text {
        font-size: 1.1rem; } }
  .skills__javascript-fill {
    height: 100%;
    width: 0;
    position: absolute;
    background-color: #143B96;
    top: 0;
    left: 15%; }

.skills__ruby {
  grid-row: 4 / 5;
  grid-column: 1 / -1;
  background-color: #e3e6f2;
  width: 100%;
  height: 50%;
  position: relative; }
  @media only screen and (max-width: 50em) {
    .skills__ruby {
      align-self: end; } }
  .skills__ruby-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    color: #c3d2f7;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #4E6DB4;
    overflow: hidden; }
    @media only screen and (max-width: 43.75em) {
      .skills__ruby-text {
        font-size: 1.1rem; } }
  .skills__ruby-fill {
    height: 100%;
    width: 0;
    position: absolute;
    background-color: #143B96;
    top: 0;
    left: 15%; }

.skills__ruby-on-rails {
  grid-row: 5 / 6;
  grid-column: 1 / -1;
  background-color: #e3e6f2;
  width: 100%;
  height: 50%;
  position: relative; }
  @media only screen and (max-width: 50em) {
    .skills__ruby-on-rails {
      align-self: end; } }
  .skills__ruby-on-rails-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    color: #c3d2f7;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #4E6DB4;
    overflow: hidden; }
    @media only screen and (max-width: 43.75em) {
      .skills__ruby-on-rails-text {
        font-size: 1.1rem; } }
  .skills__ruby-on-rails-fill {
    height: 100%;
    width: 0;
    position: absolute;
    background-color: #143B96;
    top: 0;
    left: 15%; }

.next-page-skills {
  grid-row: 9 / 10;
  grid-column: 2 / 6;
  position: relative;
  transform: rotate(90deg);
  font-size: 3rem;
  color: #0C2D79;
  opacity: 0;
  cursor: pointer; }
  .next-page-skills span {
    position: absolute;
    top: 0;
    left: 1.02rem; }
  .next-page-skills:hover > span {
    animation-name: next-page-hover;
    animation-duration: 1s;
    animation-iteration-count: infinite; }

/*SVG'S*/
.features__icon {
  height: 4.5rem;
  width: 4.5rem;
  fill: #c3d2f7;
  position: absolute;
  top: 32%;
  left: 32%; }

/*Animations*/
.animation--features {
  animation-name: rotate-y;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

.animation--features-text {
  animation-name: opacity;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

.animation--langauges {
  animation-name: from-right;
  animation-duration: .75s;
  animation-fill-mode: forwards; }

.animation--fill-70 {
  animation-name: fill-70;
  animation-duration: .5s;
  animation-fill-mode: both;
  transition-timing-function: cubic-bezier(0.5, 0.25, 0, 1.65); }

.animation--fill-40 {
  animation-name: fill-40;
  animation-duration: .5s;
  animation-delay: 1.4s;
  animation-fill-mode: both;
  transition-timing-function: cubic-bezier(0.5, 0.25, 0, 1.65); }

.animation--fill-50 {
  animation-name: fill-50;
  animation-duration: .5s;
  animation-delay: 1.7s;
  animation-fill-mode: both;
  transition-timing-function: cubic-bezier(0.5, 0.25, 0, 1.65); }

.animation--fill-55 {
  animation-name: fill-55;
  animation-duration: .5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  transition-timing-function: cubic-bezier(0.5, 0.25, 0, 1.65); }

.animation--next-page {
  animation-name: next-page;
  animation-fill-mode: both;
  animation-duration: 1.4s; }

.projects {
  overflow: hidden; }
  .projects__heading {
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    text-transform: uppercase; }
  .projects__items {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    grid-row: 2 /3;
    overflow: hidden; }
  .projects__item {
    text-align: center;
    height: 40rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    opacity: 0; }
  .projects__text {
    transform: translateY(0%);
    transition: all .5s;
    letter-spacing: .2rem;
    opacity: 0; }
  .projects__btn {
    transform: translateY(100%);
    visibility: hidden;
    transition: all  .3s;
    opacity: 0; }
  .projects__img {
    height: 18rem;
    width: 18rem; }

.projects__item:hover > .projects__image-container {
  filter: blur(20px); }

.projects__item:hover .projects__text {
  transform: translateY(150%);
  opacity: 1; }

.projects__item:hover .projects__btn {
  transform: translateY(-5vh);
  visibility: visible;
  opacity: 1; }

.next-page-projects {
  grid-row: 3 / 4;
  text-align: center;
  position: relative;
  transform: rotate(90deg);
  font-size: 3rem;
  color: #0C2D79;
  opacity: 0;
  cursor: pointer; }
  .next-page-projects span {
    position: absolute;
    top: 0;
    left: 1.02rem; }
  .next-page-projects:hover > span {
    animation-name: next-page-hover;
    animation-duration: 1s;
    animation-iteration-count: infinite; }

/*Animations*/
.animate-1 {
  animation-name: hidden-down-strong;
  animation-duration: .5s;
  animation-fill-mode: forwards; }

.animate-2 {
  animation-name: hidden-down-strong;
  animation-duration: .5s;
  animation-delay: .2s;
  animation-fill-mode: forwards; }

.animate-3 {
  animation-name: hidden-down-strong;
  animation-duration: .5s;
  animation-delay: .4s;
  animation-fill-mode: forwards; }

.animate-4 {
  animation-name: hidden-down-strong;
  animation-duration: .5s;
  animation-delay: .6s;
  animation-fill-mode: forwards; }

.footer {
  grid-row: 5 / 6;
  grid-column: 1 / -1;
  background-color: #e0e6fb; }
  .footer__icon-container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer__icon {
    font-size: 5rem;
    transition: all .2s; }
  .footer__icon:not(:last-child) {
    margin-right: 5rem; }
  .footer__icon:visited, .footer__icon:link {
    color: #143B96; }
  .footer__icon:hover {
    color: #4E6DB4;
    transform: scale(1.2); }

.next-page-container {
  text-align: center;
  transform: translateY(-2rem); }

.next-page-footer {
  position: relative;
  transform: rotate(270deg);
  font-size: 3rem;
  color: #0C2D79;
  display: inline-block;
  cursor: pointer; }
  .next-page-footer span {
    position: absolute;
    top: 0;
    left: 1.02rem; }
  .next-page-footer:hover > span {
    animation-name: next-page-hover;
    animation-duration: 1s;
    animation-iteration-count: infinite; }

.skills {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  background: linear-gradient(180deg, #f0f4fd 75%, #d7e4ff 100%, #f0f4fd 100%);
  display: grid;
  grid-template-rows: 25vh 20vh 15vh repeat(5, 1fr) 10vh;
  grid-template-columns: 20% repeat(4, 1fr) 20%;
  justify-items: center;
  align-items: center;
  grid-column-gap: 2rem; }
  @media only screen and (max-width: 50em) {
    .skills {
      grid-template-rows: 15vh 20vh 20vh repeat(5, 1fr) 5vh;
      grid-template-columns: 2% repeat(4, 1fr) 2%;
      grid-row-gap: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .skills {
      grid-template-rows: 15vh 25vh 25vh repeat(5, 1fr) 5vh; } }

.projects {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  background: linear-gradient(180deg, #f0f4fd 80%, #d7e4ff 100%, #f0f4fd 100%);
  display: grid;
  grid-template-rows: 25vh 1fr 10vh;
  justify-items: center;
  align-items: center; }

.contact {
  grid-row: 4 / 5;
  grid-column: 1/ -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem; }
  .contact__form {
    width: 100%;
    height: 100%;
    margin: 0 auto; }
