@mixin layout { background: linear-gradient(180deg, rgba(240,244,253,1) 75%, rgba(215,228,255,1) 100%, rgba(240,244,253,1) 100%); }

@mixin octogon-before {

  content: "";
        width: 12rem;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 2.9rem solid $color-primary-light;
        border-left: 2.9rem solid $color-layout;
        border-right: 2.9rem solid $color-layout;

        @include respond(800) { width: 15rem; }
}

@mixin octogon-after {

  content: "";
      width: 12rem;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 2.9rem solid $color-primary-light;
      border-left: 2.9rem solid $color-layout;
      border-right: 2.9rem solid $color-layout;

      @include respond(800) { width: 15rem; }
}


@mixin skill {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15%;
  color: $color-display-light;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: $color-primary-light;
  overflow: hidden;

  @include respond(700) {
    font-size: 1.1rem;
  }

}


//smallest to biggest
@mixin respond($breakpoint) {


  @if $breakpoint == 320 {
    @media only screen and (max-width: 20em ) { @content };
  }

  @if $breakpoint == 350 {
    @media only screen and (max-width:  21.875em ) { @content };
  }

  @if $breakpoint == 375 {
    @media only screen and (max-width:  23.4375em ) { @content };
  }

  @if $breakpoint == 400 {
    @media only screen and (max-width:  25em ) { @content };
  }

  @if $breakpoint == 425 {
    @media only screen and (max-width:  26.5625em ) { @content };
  }

  @if $breakpoint == 450 {
    @media only screen and (max-width:  28.125em ) { @content };
  }

  @if $breakpoint == 475 {
    @media only screen and (max-width:  29.6875em ) { @content };
  }

  @if $breakpoint == 500 {
    @media only screen and (max-width:  31.25em ) { @content };
  }

  @if $breakpoint == 525 {
    @media only screen and (max-width:  32.8125em ) { @content };
  }

  @if $breakpoint == 550 {
    @media only screen and (max-width:  34.375em ) { @content };
  }

  @if $breakpoint == 600 {
    @media only screen and (max-width:  37.5em ) { @content };
  }

  @if $breakpoint == 650 {
    @media only screen and (max-width:  40.625em ) { @content };
  }

  @if $breakpoint == 700 {
    @media only screen and (max-width: 43.75em ) { @content };
  }

  @if $breakpoint == 800 {
    @media only screen and (max-width: 50em ) { @content };
  }

   @if $breakpoint == 900 {
    @media only screen and (max-width: 56.25em ) { @content };
  }

  @if $breakpoint == 1000 {
    @media only screen and (max-width: 62.5em ) { @content };
  }

  @if $breakpoint == 1100 {
    @media only screen and (max-width: 68.75em ) { @content };
  }

  @if $breakpoint == 1200 {
    @media only screen and (max-width: 75em ) { @content };
  }

  @if $breakpoint == 1300 {
    @media only screen and (max-width: 81.25em ) { @content };
  }

  @if $breakpoint == 1400 {
    @media only screen and (min-width: 87.5em ) { @content };
  }













}



