$color-primary: #143B96;
$color-primary-dark: #0C2D79;
$color-primary-light: #4E6DB4;

$color-display: #06122d;
$color-display-light: #c3d2f7;
$color-heading: #0C2D79;

$color-layout: #f0f4fd;

$color-skill: #e3e6f2;
