.footer {
  grid-row: 5 / 6;
  grid-column: 1 / -1;
  background-color: #e0e6fb;
  position: relative;
  display: flex;
  justify-content: center;


  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &__icon {
   font-size: 5rem;
   transition: all .2s;

   @include respond(800) { font-size: 7rem; }
   @include respond(600) { font-size: 9rem; }
  @include respond(400) { font-size: 11rem; }


 }

  &__icon:not(:last-child) { margin-right: 5rem; }

  &__icon:visited,
  &__icon:link {
    color: $color-primary;
  }

  &__icon:hover {
    color: $color-primary-light;
    transform: scale(1.2);
  }
}

.next-page-container {
  text-align: center;
  transform: translateY(-2rem);
  position: absolute;
  top: 380%;
  left: 49%;


}
.next-page-footer  {
    position: relative;
    transform: rotate(270deg);
    font-size: 3rem;
    color: $color-primary-dark;
    display: inline-block;
    cursor: pointer;
    @include responsive-next-page;


    span {
      position: absolute;
      top: 0;
      left: 1.02rem;
    }

    &:hover > span {
    animation-name: next-page-hover;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    }
  }
