.introduction {
  grid-column: 1 / 7;
  display: grid;
  grid-template-rows: 10vh 35vh 20vh 35vh;
  overflow: hidden;//had problems with image when expanding the width the container overflowing.

}

.intro {
  grid-row: 3 / 5;
  grid-column: 1 / 6;
  background-color: transparent;
  color: $color-primary;
  overflow: hidden;
  animation-name: travel, travel-1, travel-2, travel-3;
  animation-duration: .75s, .75s, .75s, .75s;
  animation-delay: 3.7s, 4.5s, 5s, 6s;
  animation-fill-mode: forwards, forwards, forwards, forwards;
  font-weight: 300;
  backface-visibility: hidden;
  z-index: 1;

   @include respond(800) {
     animation-name: fall-down;
     animation-duration: 1s;
     animation-delay: 3.75s;
   }





  &__top {
    letter-spacing: 0.2rem;
    font-size: 9rem;
    background-color: transparent;
    text-align: center;
    overflow: hidden;

    @include respond(900) {
      font-size: 7.5rem;
    }

     @include respond(700) {
      font-size: 6rem;
    }

    @include respond(600) {
      font-size: 8rem;
    }



 &-1 {
    display: inline-block;
    margin-right: 2rem;

    animation-name: hidden-up;
    animation-duration: 2s;
    animation-delay: .2s;
    animation-fill-mode: both;

    grid-row: 3 / 4;
    grid-column: 2 / 3;

  }

  &-2 {
    display: inline-block;
    animation-name: hidden-up;
    animation-duration: 2s;
    animation-delay: .8s;
    animation-fill-mode: both;

    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }

   &-3 {
    font-size: 15rem;
    display: inline-block;
    animation-name: bounce-top, opacity;
    animation-duration: 2s, 0.1s;
    animation-delay: 1.5s, 6.3s;
    animation-fill-mode: backwards, both;
    animation-direction: normal, reverse;


  }
}

  &__bottom {
    background-color: transparent;
    text-align: center;
    overflow: hidden;


     p {
      grid-row: 4 / 5;
      grid-column: 2 / 3;
      font-weight: 400;
      font-size: 4rem;
      line-height: 5rem;
      animation-name: hidden-up;
      animation-duration: 2s;
      animation-delay: 1.6s;
      animation-fill-mode: backwards;

      @include respond(900) {
      font-size: 2.5rem;
    }
    @include respond(600) {
      font-size: 4rem;
    }
     }
  }
}


/* AFTER */

 .name-and-button {
    grid-row: 3 / 5;
    grid-column: 1 / 7;
    letter-spacing: 1rem;
    padding: 5rem;
    text-align: center;
    @include layout;
    overflow: hidden;


  &__name {
    font-size: 7rem;
    font-weight: 300;
    color: $color-primary;

    width: 53%;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
    list-style: none;

    @include respond(400) { font-size: 7.5rem; }
    @include respond(350) { font-size: 6rem; }

  }
}



.name-and-button li:nth-child(1) {
  animation-delay: 7.7s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 5.7s; }
}
.name-and-button li:nth-child(2) {
 animation-delay: 7.8s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 5.8s; }
}
.name-and-button li:nth-child(3) {
 animation-delay: 7.9s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 5.9s; }
}

.name-and-button li:nth-child(4) {
  animation-delay: 8s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 6s; }
}
.name-and-button li:nth-child(5) {
  animation-delay: 8.1s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 6.1s; }
}
.name-and-button li:nth-child(6) {
  animation-delay: 8.2s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 6.2s; }
}
.name-and-button li:nth-child(7) {
  animation-delay: 8.3s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 6.3s; }
}
.name-and-button li:nth-child(8) {
  animation-delay: 8.4s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 6.4s; }
}
.name-and-button li:nth-child(9) {
  animation-delay: 8.5s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 6.5s; }
}
.name-and-button li:nth-child(10)
{animation-delay: 8.6s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 6.6s; }
}
.name-and-button li:nth-child(11)
{animation-delay: 8.7s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 6.7s; }
}
.name-and-button li:nth-child(12)
{animation-delay: 8.8s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 6.8s; }
}
.name-and-button li:nth-child(13)
{animation-delay: 8.9s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 6.9s; }
}
.name-and-button li:nth-child(14)
{animation-delay: 9s;
  animation-name: smokey;
  animation-duration: .5s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 7s; }
}






