.profile {
  // background: linear-gradient(180deg, rgba(240,244,253,1) 80%, rgba(215,228,255,1) 100%, rgba(240,244,253,1) 100%);
   background: linear-gradient(180deg, rgba(240,244,253,1) 50%, rgba(215,228,255,1) 100%, rgba(240,244,253,1) 100%);
  grid-row: 2 / 3;
  grid-column: 1 / 7;
  animation-name: opacity;
  animation-duration: 2s;
  animation-delay: 6.1s;
  animation-fill-mode: both;

  @include respond(800) { animation-delay: 4.1s; }
}

  .profile-picture {

    overflow: hidden;
    z-index: 3;
    grid-row: 2 / 3;
    grid-column: 1 / 7;
     grid-template-rows: 1fr;
    grid-tenplate-columns: 1fr;


   //  @include respond(1200) {
   //    width: 118%;
   // }

   // @include respond(1100) {
   //   width: 125%;
   //   margin-left: -13%;
   // }

   // @include respond(1000) {
   //  width: 141%;
   //  margin-left: -26%;
   // }

   // @include respond(900) {
   //  width: 153%;
   //  margin-left: -35%;
   // }

   // @include respond(800) {
   //  width: 168%;
   //  margin-left: -42%;
   // }

   // @include respond(700) {
   //  width: 209%;
   //  margin-left: -76%;

   // }

   // @include respond(650) {
   //  width: 180%;
   //  margin-left: -53%;
   // }

   // @include respond (600) {
   //  width: 199%;
   //  margin-left: -94%;
   // }

   // @include respond (550) {
   //  width: 246%;
   //  margin-left: -125%;
   // }

   // @include respond (525) {
   //  width: 263%;
   //  margin-left: -139%;
   // }

   // @include respond (500) {
   //  width: 285%;
   //  margin-left: -156%;
   // }

   // @include respond (475) {
   //  width: 319%;
   //  margin-left: -180%;
   // }

   // @include respond (450) {
   //  width: 347%;
   //  margin-left: -205%;
   // }

   // @include respond (425) {
   //  width: 401%;
   //  margin-left: -246%;
   // }

   // @include respond (400) {
   //  width: 466%;
   //  margin-left: -298%;
   // }






    &__container {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      opacity: 0;

      animation-name:hidden-up-opacity;
      animation-duration: 2.2s;
      animation-delay: 6.1s;
      animation-fill-mode: forwards;

      @include respond(800) { animation-delay: 4.1s; }
    }

  &__img {
    height: 134%;
    opacity: .5;
    object-fit: cover;
    margin-right: 5%;
    width: 40%;

     @include respond(1300) {
      width: 50%;
     }

    @include respond(600) {
     width: 100%;
     margin-right: 1.5%;


    }




   //  @include respond(1400) {
   //  height: 49rem;
   //  width: 66rem;
   // }
   //  @include respond(1300) {
   //    height: 54rem;
   //    width: 70rem;
   //  }

   //  @include respond(1200) {
   //    height: 61rem;
   //    width: 78rem;
   //  }

   //  @include respond(1100) {
   //  height: 68rem;
   //  width: 85rem;
   //  }

   //  @include respond(1000) {
   //  height: 81rem;
   //  width: 100rem;
   //  }

  }
}
