.form {
    opacity: 0;
    width: 100%;
    grid-column: 2 / 3;
    height: 85%;
    display: grid;
    grid-template-rows: repeat(2, min-content) 1fr min-content;


  &__group {
    margin-bottom: -2.3rem;
    width: 100%;
    height: auto;

    @include respond(1300) { width: 100%; }

    @include respond(800) { margin-bottom: -3.8rem; }

    @include respond(600) { margin-bottom: -6%; }

    // @include respond(500) {
    //  margin-bottom: -3.8rem;
    // }

    // @include respond(400) { margin-bottom: -3.4rem; }

  }

  &__input,
  &__input-lg {
    font-size: 1.5rem;
    font-family: inherit;
    color: $color-display;
    padding: 1.5rem 2rem;
    text-transform: capitalize;
    border-radius: 2px;
    background-color: rgba(215,228,255,.3);
    border: none;
    width: 100%;
    display: block;
    border-bottom: 3px solid transparent;
    outline:none;

    @include respond(800) {
      font-size: 2.5rem;
    }



    &:focus {
    outline: none;
    border-bottom: 3px solid $color-primary;
    }

    &::-webkit-input-placeholder { color: #b4c7f5; }
    }

  &__label,
  &__label-lg  {
    font-size: 1.5rem;
    font-family: inherit;
    // color: $color-primary-dark;
    color: transparent;
    font-weight: bold;
    display: inline-block;
    // transform: translate(-9rem,-4rem);
    transition: all .3s;

    @include respond(800) {
      font-size: 2.5rem;
      // transform: translate(-15rem, -6rem);
    }
  }

    //  @include respond(600) { transform: translate(-15rem, -5rem); }

    //  @include respond(500) { transform: translate(-15rem, -6rem); }

    // @include respond(400) { transform: translate(-13rem, -6rem); }

    &-lg {
      // transform: translate(-11rem,-21rem);

      // @include respond(800) { transform: translate(-18rem, -34rem); }

      // @include respond(600) { transform: translate(-18rem, -38rem); }

      // @include respond(500) { transform: translate(-17rem, -65rem); }

      // @include respond(400) { transform: translate(-16rem, -55rem); }

    }


  // &__input:placeholder-shown + &__label {
  //   opacity: 0;
  //   visibility: hidden;
  //   // transform: translate(2rem, -4rem);

  //   // @include respond(800) { transform: translate(2rem, -6rem); }
  //   // @include respond(600) { transform: translate(2rem, -5rem); }
  //   // @include respond(500) { transform: translate(2rem, -6rem); }
  //   // @include respond(400) { transform: translate(2rem, -6rem); }

  // }

  // &__input-lg:placeholder-shown + &__label-lg {
  //   opacity: 0;
  //   visibility: hidden;
  //   // transform: translate(2rem, -21rem);

  //   // @include respond(800) { transform: translate(2rem, -34rem); }

  //   // @include respond(600) { transform: translate(2rem, -38rem); }

  //   // @include respond(500) { transform: translate(2rem, -65rem); }

  //   // @include respond(400) { transform: translate(2rem, -55rem); }


  // }

  //REFACTOR PLACEHOLDERS//

  &__btn {
    padding: 2rem 6rem;
    font-size: 1.6rem;
    color: $color-display-light;
    @include respond(700) { font-size: 2.6rem; }

}

}



.animations--scale-in-out {
  animation-name: scale-in-out;
  animation-duration: 1s;
  animation-fill-mode: both;

}

.animations--footer-paragraph {
  animation-name: from-right-soft;
  animation-duration: 1s;
  animation-fill-mode: both;
}


textarea {
  height: 100%;
  resize: none; }
