.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;

  &__group {
    margin-bottom: -2.3rem;
    width: 30%;

    @include respond(1300) { width: 35%; }

    @include respond(800) { margin-bottom: -3.8rem; }

    @include respond(600) { margin-bottom: -3.3rem; }

    @include respond(500) {
     width: 60%;
     margin-bottom: -2.8rem;
    }

    @include respond(400) { margin-bottom: -2.4rem; }


  }

  &__input,
  &__input-lg {
    font-size: 1.5rem;
    font-family: inherit;
    color: $color-display;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(215,228,255,.3);
    border: none;
    width: 100%;
    display: block;
    border-bottom: 3px solid transparent;

    @include respond(800) {
      font-size: 2.5rem;
    }


    &:focus {
    outline: none;
    border-bottom: 3px solid $color-primary;
    }

    &::-webkit-input-placeholder { color: #b4c7f5; }
    }

  &__label,
  &__label-lg  {
    font-size: 1.5rem;
    font-family: inherit;
    color: $color-primary-dark;
    font-weight: bold;
    display: inline-block;
    transform: translate(-9rem,-4rem);
    transition: all .3s;

    @include respond(800) {
      font-size: 2.5rem;
      transform: translate(-15rem, -6rem);
    }

     @include respond(600) { transform: translate(-15rem, -5rem); }

     @include respond(500) { transform: translate(-10rem, -5rem); }

    @include respond(400) { transform: translate(-13rem, -5rem); }

    &-lg {
      transform: translate(-10rem,-18rem);

      @include respond(800) { transform: translate(-18rem, -34rem); }

      @include respond(600) { transform: translate(-18rem, -38rem); }

      @include respond(500) { transform: translate(-13rem, -42rem); }

      @include respond(400) { transform: translate(-16rem, -45rem); }

    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translate(2rem, -4rem);

    @include respond(800) { transform: translate(2rem, -6rem); }
    @include respond(600) { transform: translate(2rem, -5rem); }
    @include respond(500) { transform: translate(2rem, -5rem); }
    @include respond(400) { transform: translate(2rem, -5rem); }

  }

  &__input-lg:placeholder-shown + &__label-lg {
    opacity: 0;
    visibility: hidden;
    transform: translate(2rem, -18rem);

    @include respond(800) { transform: translate(2rem, -34rem); }

    @include respond(600) { transform: translate(2rem, -38rem); }

    @include respond(500) { transform: translate(2rem, -42rem); }

    @include respond(400) { transform: translate(2rem, -45rem); }


  }

  &__btn {
    margin-top: 2rem;
    text-align: center;
    padding: 2rem 6rem;
    font-size: 1.6rem;
    color: $color-display-light;

    @include respond(1300) { margin-top: 5rem; }

    @include respond(700) { font-size: 2.6rem; }

}

  }

.animations--scale-in-out {
  animation-name: scale-in-out;
  animation-duration: 1s;
  animation-fill-mode: both;

}

.animations--footer-paragraph {
  animation-name: from-right-soft;
  animation-duration: 1s;
  animation-fill-mode: both;
}


textarea {
  height: 19rem;

  @include respond(800) { height: 35rem; }
  @include respond(600) { height: 39rem; }
  @include respond(500) { height: 43rem; }
  @include respond(400) {
    height: 31rem;

    @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm){
    .selector:not(*:root), .chrome .ff .safari6 .safari10 { height: 46rem; }
    }
  }
}

