*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
//biggest to smallest
html {
  font-size: 65%;
   //scroll-behavior: smooth; for smooth scrolling. But this is not supported on edge and safari.


   @include respond(1400) {
    font-size: 62.5%;
   }

   @include respond(1300) {
    font-size: 57%;
   }

   @include respond(900) {
    font-size: 50%;
   }

   @include respond(800) {
    font-size: 40%;
   }

   @include respond(600) {
    font-size: 33%;
   }

   @include respond(500) {
    font-size: 19%;
   }

   @include respond(400) {
    font-size: 19%;
    @media only screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .selector:not(*:root), .chrome .ff .safari6 .safari10 {
    font-size:100% !important;
    }
   }
  }

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) and (max-width:  25em ) {
    .chrome {
        font-size: 100%
    }
}










    // @media only screen and (min-width: 93.75em) {
    //   font-size: 70%;
    // }

    // @media only screen and (min-width: 87.5em) {
    //   font-size: 60%;
    // }

    // @media only screen and (min-width: 81.25em) {
    //   font-size: 50%;
    // }







}

body {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;

   }

.container {
  background-color: $color-layout;
  display: grid;
  // grid-template-rows:  10vh 35vh 20vh 35vh 10vh 20vh repeat(5, 13vh) 5vh;
  grid-template-rows: repeat(3, 100vh) 80vh 20vh;
  grid-template-columns: 8rem repeat(4, 1fr) 8rem;

  @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  .selector:not(*:root), .chrome {
    grid-template-rows: repeat( 3, calc(100vh - 56px)) calc(80vh - 56px) 20vh;

  }
}

  // @media only screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) and (max-width:  37.5em )
  //{ grid-template-rows: repeat( 3, calc(100vh - 56px)) calc(80vh - 56px) 20vh; }

}

// @media screen and(-webkit-min-device-pixel-ratio:0) {
//   .container {-chrome-:only(;
//      grid-template-rows:  calc(100vh - 56px) 100vh 100vh 80vh 20vh;;
//   ) ;}
// }

//I need to only target google chrome on mobile because it calculates the nav bar as 100vh.
